<div class="container-fluid my-5 border shadow-sm" style="background-color: rgba(255,99,98,255);">
  <div class="row text-center p-4 pb-0 pe-lg-0 py-lg-3 align-items-center border shadow-lg">
  	<div class="col-2">
  		<%= link_to ('<i class="fa fa-arrow-left"></i>').html_safe, skills_path, class:"mx-5 text-dark fs-2 align-items-start "%>	
  	</div>
  	<div class="col-8">
			<h2 class="text-center">Add Skill</h2>		
  	</div>
  </div>
</div> 

<div class="new-page-form">
		<%= render 'form'%>
</div>

		