<!-- Button trigger modal -->
<button type="button" class= "btn col-lg-12 bg-warning" data-bs-toggle="modal" data-bs-target="#qualitficationModal">
  Read More »
</button>

<!-- Modal -->
<div class="modal fade" id="qualitficationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-dark" id="exampleModalLabel">QUALIFICATIONS</h1>
        <button type="button" class="btn-close" style="background-color: white;" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bg-warning col-lg-4" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>