<div class="row text-center p-4" style="width: 30%;">
  <div class="col bg-dark  rounded-3">
    <a href="<%= root_path %>">
      <img src="<%=asset_path('logopic.jpg')%>" class="mt-4" style= "width: 150px; height: 150px; border-radius: 50%;">
    </a>
      <h2 class="text-white">Sourav Rajput </h2>
      <span class="fs-5 text-white">Software Developer</span>
      <p class="fs-5 text-white">Backend & Frontend Developer</p>
      <hr class="text-dark">
      <div class="top-content">
       	<div class="row p-3">
          <div class="col-md-4 fw-bold text-start text-warning">
            <p class="content-txt">RESIDENCE :</p>
          </div>
          <div class="col-md-8 ">
            <p class="content-text text-end text-warning">Dwarka, New-Delhi, India</p>
          </div>
          <div class="col-md-4 fw-bold text-start text-warning">
            <p class="content-txt" >CITY :</p>
          </div>
          <div class="col-md-8 ">
            <p class="content-text text-end text-warning">New Delhi</p>
          </div>
          <div class="col-md-4 fw-bold text-start text-warning">
            <p class="content-txt">AGE :</p>
          </div>
          <div class="col-md-8 ">
            <p class="content-text text-end text-warning">24yrs</p>
          </div>
        </div>
      </div>
      <hr class="text-warning">
      <h5 class="text-white fw-bold">Known Language</h5>
      <h5 class="text-start text-warning">RUBY</h5>
	      <div class="progress mb-3">
	        <div class="progress-bar bg-warning text-dark" role="progressbar" aria-label="Example with label" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75%</div>
	      </div>
	      <h5 class="text-start text-warning">ROR</h5>
	      <div class="progress mb-3">
	        <div class="progress-bar bg-warning text-dark" role="progressbar" aria-label="Example with label" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
	      </div>
	      <h5 class="text-start text-warning">HTML</h5>
	      <div class="progress mb-3">
	        <div class="progress-bar bg-warning text-dark" role="progressbar" aria-label="Example with label" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">85%</div>
	      </div>
	      <h5 class="text-start text-warning">CSS</h5>
	      <div class="progress mb-3">
	        <div class="progress-bar bg-warning text-dark" role="progressbar" aria-label="Example with label" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75%</div>
	      </div>
	      <h5 class="text-start text-warning">BOOTSTRAP</h5>
	      <div class="progress mb-3">
	        <div class="progress-bar bg-warning text-dark" role="progressbar" aria-label="Example with label" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75%</div>
	      </div>
	      <h5 class="text-start text-warning">JAVA SCRIPT</h5>
	      <div class="progress mb-3">
	        <div class="progress-bar bg-warning text-dark" role="progressbar" aria-label="Example with label" style="width: 15%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">15%</div>
	      </div>
        <hr class="text-dark">
  </div>
</div>    