<!-- Footer -->
<footer class="text-center text-lg-start footer text-muted border shadow-lg">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span class="social-heading text-dark">Connect with me on Social Networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div class="footer-social-media text-dark">
      <a href="https://accounts.google.com/v3/signin/identifier?dsh=S1040531690%3A1663791945190611&continue=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&emr=1&followup=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&osid=1&passive=1209600&service=mail&flowName=GlifWebSignIn&flowEntry=ServiceLogin&ifkv=AQDHYWrpEh_K5fNYvP0aN8EAvxfVCLeHWwVcxW4nd6b1UYQIAwvv7zyQyKt_sStdc9JzCQGrQZic" class="me-4 text-reset fs-5">
        <i class="fa fa-google"></i>
      </a>
      <a href="https://www.instagram.com/rajput_40/?igshid=YmMyMTA2M2Y%3D" class="me-4 text-reset fs-5">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset fs-5" >
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="https://github.com/souravrajput40" class="me-4 text-reset fs-5">
        <i class="fa fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="text-dark">
    <div class="container text-center text-md-start my-5">
      <div class="row mt-3">
        <div class="col-md-4 col-lg-3 footer-heading col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4 text-center">Contact</h6>
          <p><i class="fa fa-home me-3"></i> Uttam Nagar,New Delhi,110046,India</p>
          <p>
            <i class="fa fa-envelope me-3"></i>
            souravrajput14071998@gmail.com
          </p>
          <p><i class="fa fa-phone me-3"></i> +91 8800109435</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center text-white border p-4 " style="background-color: rgba(255,99,98,255);">
    © 2021 Copyright :
    <%= link_to 'Sourav Rajput ', root_path, method: :get, class: 'text-reset fw-bold ' %>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
