<div class="container-fluid bg-white" >
    <header class="d-flex justify-content-center p-3">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <img src="<%=asset_path('logopic.jpg')%>" style= "width: 60px; height: 60px; border-radius: 50%;">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-3 text-dark fs-4 mx-2 hover">Home</a></li>
          <li><a href="/home/about" class="nav-link px-3 text-dark fs-4 mx-2 hover">About Me</a></li>
          <li><a href="/projects" class="nav-link px-3 text-dark fs-4 mx-2 hover">Projects</a></li>
          <li><a href="/skills" class="nav-link px-3 text-dark fs-4 mx-2 hover">Skills</a></li>
          <li><a href="/contacts" class="nav-link px-3 text-dark fs-4 mx-2 hover">Contact Me</a></li>
        </ul>
      </div>
    </header>
</div>
